.ipad1{
    color:seagreen;
    background-color: orange;
}
.ipad3{
    color:royalblue;
    background-color: yellow;
}
.ipad5{
    color:brown;
    background-color: green;
}
.ipad7{
    color:pink;
    background-color: blue;
}
.ipad9{
    color:aquamarine;
    background-color: purple;
}
h1{
    text-align: center; font-size: 48px;
}
.p {
    display: block;
    margin:auto;
}